{<<"name">>,<<"rebar3_lint">>}.
{<<"version">>,<<"0.1.10">>}.
{<<"requirements">>,
 #{<<"elvis_core">> =>
       #{<<"app">> => <<"elvis">>,<<"optional">> => false,
         <<"requirement">> => <<"~>0.4.0">>},
   <<"goldrush">> =>
       #{<<"app">> => <<"goldrush">>,<<"optional">> => false,
         <<"requirement">> => <<"~>0.1.9">>}}}.
{<<"app">>,<<"rebar3_lint">>}.
{<<"maintainers">>,[<<"Heinz N. Gies <heinz@licenser.net>">>]}.
{<<"precompiled">>,false}.
{<<"description">>,<<"A rebar plugin for elvis">>}.
{<<"files">>,
 [<<"src/rebar3_lint.app.src">>,<<"LICENSE">>,<<"README.md">>,
  <<"rebar.config">>,<<"rebar.lock">>,<<"src/rebar3_lint.erl">>,
  <<"src/rebar3_lint_prv.erl">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,
 [{<<"github">>,<<"https://github.com/project-fifo/rebar3_lint">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
