{profiles, [
            {test, [
                    {deps, [
                            {epgsql,    {git, "https://github.com/epgsql/epgsql", {tag, "4.2.1"}}},
                            {spgsql,    {git, "https://github.com/semiocast/pgsql", {tag, "v26.0.2"}}},
                            {p1pgsql,    {git, "https://github.com/processone/p1_pgsql", {tag, "1.1.6"}}},
                            {coveralls, {git, "https://github.com/markusn/coveralls-erl", {tag, "v2.0.1"}}}
                           ]},
                    {eunit_opts             , [verbose]},
                    {ct_opts, [ {
                                 sys_config, ["test/config/test.config"]}]},
                    {cover_enabled          , true},
                    {cover_print_enabled    , true},
                    {cover_export_enabled   , true},
                    {coveralls_coverdata    , "_build/test/cover/ct.coverdata"},
                    {coveralls_service_name , "travis-ci"},
                    {plugins                , [coveralls]}
                   ]},
            {lint, [
                    {plugins, [rebar3_lint]}
                   ]}
           ]}.
{plugins, [rebar3_fmt]}.
{dialyzer,
 [
  {plt_location, "_build/plt"}
 ]}.
