{eunit_opts, [verbose]}.

{cover_enabled          , true}.
{cover_print_enabled    , true}.
{cover_export_enabled   , true}.
{coveralls_coverdata    , "_build/test/cover/eunit.coverdata"}.
{coveralls_service_name , "travis-ci"}.
{plugins                , [coveralls]}.

{profiles, [
  {test, [
    {deps, [
      {erlexec, {git, "https://github.com/saleyn/erlexec.git", {ref, "576fb5d"}}}
    ]}
  ]},
  {lint, [
    {plugins, [rebar3_lint]}
  ]}
]}.

{elvis,
  [#{dirs => ["src"],
    include_dirs => [],
    filter => "*.erl",
    ruleset => erl_files,
    rules =>
    [{elvis_style, line_length, #{limit => 120}},
      {elvis_style, god_modules, #{limit => 40}},
      {elvis_style, state_record_and_type, disable} % epgsql_sock
    ]}
  ]
}.