{<<"name">>,<<"pc">>}.
{<<"version">>,<<"1.10.0">>}.
{<<"requirements">>,#{}}.
{<<"app">>,<<"pc">>}.
{<<"maintainers">>,[<<"Brian L. Troutwine">>,<<"Tristan Sloughter">>]}.
{<<"precompiled">>,false}.
{<<"description">>,<<"a rebar3 port compiler for native code">>}.
{<<"files">>,
 [<<"src/pc.app.src">>,<<"LICENSE">>,<<"README.md">>,<<"rebar.config">>,
  <<"rebar.lock">>,<<"src/pc.erl">>,<<"src/pc_compilation.erl">>,
  <<"src/pc_port_env.erl">>,<<"src/pc_port_specs.erl">>,
  <<"src/pc_prv_clean.erl">>,<<"src/pc_prv_compile.erl">>,
  <<"src/pc_util.erl">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/blt/port_compiler">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
