{<<"name">>,<<"goldrush">>}.
{<<"version">>,<<"0.1.9">>}.
{<<"requirements">>,#{}}.
{<<"app">>,<<"goldrush">>}.
{<<"maintainers">>,[<<"DeadZen">>]}.
{<<"precompiled">>,false}.
{<<"description">>,<<"Erlang event stream processor">>}.
{<<"files">>,
 [<<"src/goldrush.app.src">>,<<"LICENSE">>,<<"README.org">>,
  <<"priv/edoc.css">>,<<"rebar.config">>,<<"rebar.lock">>,<<"src/glc.erl">>,
  <<"src/glc_code.erl">>,<<"src/glc_lib.erl">>,<<"src/glc_ops.erl">>,
  <<"src/glc_run.erl">>,<<"src/gr_app.erl">>,<<"src/gr_context.erl">>,
  <<"src/gr_counter.erl">>,<<"src/gr_counter_sup.erl">>,
  <<"src/gr_manager.erl">>,<<"src/gr_manager_sup.erl">>,
  <<"src/gr_param.erl">>,<<"src/gr_param_sup.erl">>,<<"src/gr_sup.erl">>,
  <<"src/gre.erl">>]}.
{<<"licenses">>,[<<"ISC">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/DeadZen/goldrush">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
