{<<"name">>,<<"katana_code">>}.
{<<"version">>,<<"0.1.2">>}.
{<<"requirements">>,
 #{<<"inaka_aleppo">> =>
       #{<<"app">> => <<"aleppo">>,<<"optional">> => false,
         <<"requirement">> => <<"1.1.1">>}}}.
{<<"app">>,<<"katana_code">>}.
{<<"maintainers">>,[<<"Inaka">>]}.
{<<"precompiled">>,false}.
{<<"description">>,<<"Functions useful for processing Erlang code.">>}.
{<<"files">>,
 [<<"src/katana_code.app.src">>,<<"LICENSE">>,<<"README.md">>,
  <<"rebar.config">>,<<"rebar.lock">>,<<"src/ktn_code.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/inaka/katana-code">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
