{<<"name">>,<<"inaka_aleppo">>}.
{<<"version">>,<<"1.1.1">>}.
{<<"requirements">>,#{}}.
{<<"app">>,<<"aleppo">>}.
{<<"maintainers">>,[<<"Inaka">>,<<"ErlyORM">>]}.
{<<"precompiled">>,false}.
{<<"description">>,<<"Aleppo: ALternative Erlang Pre-ProcessOr">>}.
{<<"files">>,
 [<<"src/aleppo.app.src">>,<<"rebar.config">>,<<"src/aleppo.erl">>,
  <<"src/aleppo_parser.yrl">>]}.
{<<"licenses">>,[<<"MIT/X11">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/inaka/aleppo">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
