{<<"name">>,<<"zipper">>}.
{<<"version">>,<<"1.0.1">>}.
{<<"requirements">>,#{}}.
{<<"app">>,<<"zipper">>}.
{<<"maintainers">>,[<<"Inaka">>]}.
{<<"precompiled">>,false}.
{<<"description">>,<<"Generic Zipper Implementation for Erlang">>}.
{<<"files">>,
 [<<"src/zipper.app.src">>,<<"LICENSE">>,<<"README.md">>,<<"rebar.config">>,
  <<"rebar.lock">>,<<"src/zipper.erl">>,<<"src/zipper_default.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/inaka/zipper">>}]}.
{<<"build_tools">>,[<<"erlang.mk">>,<<"rebar">>]}.
