{<<"name">>,<<"elvis_core">>}.
{<<"version">>,<<"0.4.1">>}.
{<<"requirements">>,
 #{<<"katana_code">> =>
       #{<<"app">> => <<"katana_code">>,<<"optional">> => false,
         <<"requirement">> => <<"0.1.2">>},
   <<"zipper">> =>
       #{<<"app">> => <<"zipper">>,<<"optional">> => false,
         <<"requirement">> => <<"1.0.1">>}}}.
{<<"app">>,<<"elvis">>}.
{<<"maintainers">>,[<<"Inaka">>]}.
{<<"precompiled">>,false}.
{<<"description">>,<<"Core library for the Erlang style reviewer">>}.
{<<"files">>,
 [<<"src/elvis.app.src">>,<<"LICENSE">>,<<"README.md">>,<<"rebar.config">>,
  <<"rebar.lock">>,<<"src/elvis_code.erl">>,<<"src/elvis_config.erl">>,
  <<"src/elvis_core.erl">>,<<"src/elvis_file.erl">>,
  <<"src/elvis_project.erl">>,<<"src/elvis_result.erl">>,
  <<"src/elvis_rulesets.erl">>,<<"src/elvis_style.erl">>,
  <<"src/elvis_utils.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/inaka/elvis_core">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
